@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.animalImage {
  background-image: url("/images/pets-cats-dogs-adobe-hero.jpg");
  height: 33rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 4rem;
}

.titleControl {
  font-family: "Oswald", sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  background-color: white;
  opacity: 0.6;
  padding: 0.6rem;
}
.buttonControl {
  display: flex;
  justify-content: space-evenly;
}

.paraControl {
  padding: 1rem;
  box-shadow: 3px 7px 27px 8px rgba(148, 144, 144, 0.55);
  -webkit-box-shadow: 3px 7px 27px 8px rgba(148, 144, 144, 0.55);
  -moz-box-shadow: 3px 7px 27px 8px rgba(148, 144, 144, 0.55);
}

.map-container {
  height: 20rem;
  width: 100%;
  background-color: white;
}

.welcomeCtl {
  display: flex;
  background-color: white;
  gap: 3rem;
  padding: 0 1rem 0 2rem;
  box-shadow: 3px 7px 27px 8px rgba(148, 144, 144, 0.55);
  -webkit-box-shadow: 3px 7px 27px 8px rgba(148, 144, 144, 0.55);
  -moz-box-shadow: 3px 7px 27px 8px rgba(148, 144, 144, 0.55);
}
.individualCard {
      /* border: 4px solid peru; */
      background-color: white;
      padding: 1rem;
      box-shadow: 3px 7px 27px 8px rgb(148 144 144 / 55%);
      -webkit-box-shadow: 3px 7px 27px 8px rgb(148 144 144 / 55%);
      -moz-box-shadow: 3px 7px 27px 8px rgba(148, 144, 144, 0.55);
  }