.footerCtl {
    position: inherit;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    max-height: 5rem;
    margin-top: auto;
}
.test {
    margin-bottom: -12px;
}