body {
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #f5f9ff, #e4f4ff, #ccf2ff, #b2f0ff)  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 5rem 0 0 0 ;

}